Pipfile.lock
data/intermediate/atoMEC_inputs
*~
*.pkl
*slurm*
*csv
*txt
*o
*h
*C
notebooks/.ipynb_checkpoints
notebooks/*pdf
tex/*.aux
tex/*.bbl
tex/*.blg
tex/*.fdb_latexmk
tex/*.fls
tex/*.log
tex/*.out
tex/*.toc
