[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
jupyter = "*"
scipy = "*"
black = "*"
matplotlib = "*"
seaborn = "*"
tensorflow = "*"
scikeras = "*"
optuna = "*"
jupyter-contrib-nbextensions = "*"
tabulate = "*"

[requires]
python_version = "3.8"
